@use '../abstracts/variables' as v;

/* Ajustement pour le header fixe */
body {
    padding-top: v.$h-header; 
    margin: 0;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: v.$h-header;
    background-color: v.$color-white;
    border-bottom: 1px solid v.$gray-light;
    z-index: 9999;

    .header-inner {
        width: 100%; 
        height: 100%;
        padding: 0 50px; 
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
}

.logo {
    font-weight: 900;
    text-decoration: none;
    color: v.$color-black-pro;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* LA NAV */
.main-nav {
    display: flex;
    align-items: center;
    height: 100%;
}

/* LE BURGER */
.burger-menu {
    display: none; 
    width: 30px;
    height: 25px;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;

    span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: v.$color-black-pro;
    }
}

/* NAVIGATION DESKTOP */
.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    li {
        height: 100%;
        display: flex;

        a {
            display: flex;
            align-items: center;
            padding: 0 20px;
            color: v.$color-black-pro;
            text-decoration: none;
            height: 100%;
            position: relative;
            transition: 0.3s;

            /* Effet Desktop uniquement (min-width: 801px) */
            @media (min-width: 801px) {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 15px;
                    left: 20px;
                    width: 0; /* Départ à 0 pour l'effet de croissance */
                    height: 2px;
                    background-color: v.$color-black-pro;
                    transition: width 0.3s ease; /* Animation de la largeur */
                }
                
                &:hover::after {
                    width: calc(100% - 40px); /* S'étire sur toute la largeur disponible entre les paddings */
                }
            }
        }
    }
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .main-header {
        .header-inner {
            padding: 0 20px;
        }
    }

    .burger-menu {
        display: flex; 
    }

    .nav-list {
        display: none; 
        
        &.is-open {
            display: flex !important;
            position: fixed;
            top: v.$h-header;
            left: 0;
            width: 100%;
            height: calc(100vh - #{v.$h-header});
            flex-direction: column;
            background-color: v.$color-white;
            z-index: 9998;

            li {
                width: 100%;
                border-bottom: 1px solid v.$gray-light;
                a {
                    width: 100%;
                    justify-content: center;
                    padding: 25px 0;
                }
            }
        }
    }
}