@use '../abstracts/variables' as v;

/* --- 1. RESET GLOBAL & SCROLL --- */
html { 
    scroll-behavior: smooth; 
    height: 100%; 
}

body { 
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
    min-height: 100%; 
    background-color: v.$color-bg-light;
    font-family: v.$font-body;
    color: v.$color-text-main;
}

/* --- 2. TYPOGRAPHIE DE BASE --- */
h1, h2, h3, h4 {
    font-family: v.$font-title;
    color: v.$color-text-titles;
    margin-top: 0;
}

p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* --- 3. RYTHME VERTICAL & SECTIONS --- */
/* On utilise la variable globale de 80px définie dans _variables.scss */
main section {
    padding-top: v.$spacer-section;
    padding-bottom: v.$spacer-section;
    position: relative;
}

/* Évite le doublement de l'espace entre deux sections consécutives */
main section + section {
    padding-top: 0;
}

/* --- 4. STRUCTURE DES CONTAINERS --- */
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flow-root; 
    
    /* Rail de sécurité (Padding interne) */
    padding-left: 50px;
    padding-right: 50px;

    @media (max-width: 800px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* --- 5. SECTION HERO --- */
.hero-accueil {
    position: relative;
    height: calc(100vh - #{v.$h-header}); 
    display: flex;
    align-items: center;    
    justify-content: center; 
    overflow: hidden;
    background-color: v.$color-black-pro;

    .hero-image {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 1;
        object-fit: cover;
        opacity: 0.7; /* Pour la lisibilité du texte */
    }

    .hero-content {
        position: relative;
        z-index: 2;
        color: v.$color-white;
        text-align: center; 
        
        .hero-title {
            font-size: clamp(2.5rem, 8vw, 4.5rem); 
            font-weight: 800;
            text-transform: uppercase;
        }
    }
}