// --- DESIGN SYSTEM : CV-CHRISTOPHE-MILLOT-2026 ---

// 1. COULEURS DE BASE
$color-black-pro:   #1a1a1a; 
$color-blue-pro:    #003366; 
$color-white:       #FFFFFF;    
//$color-bg-light:   #F4F4F4;
$color-bg-light:    white;
$color-yellow:      #faff72;   
$color-gray-light:  #e0e0e0;    



// 3. ATTRIBUTION PAR RÔLE (La Charte)
$color-logo:       $color-black-pro; 
$color-hero-text:  $color-white;    

// 4. COULEURS DE TEXTE
$color-text-main:   $color-black-pro; 
$color-text-titles: $color-black-pro; 
$color-text-muted:  #999999;          
$color-text-footer: #aaaaaa;          

// 5. DIMENSIONS
$h-header:         70px;       

// 6. POLICES
$font-title:       'Montserrat', sans-serif;
$font-body:        'Inter', sans-serif;

// 7. ESPACEMENTS (INDISPENSABLE POUR LE LAYOUT)
$spacer-section:   80px; 
$spacer-container: 40px;